.Chores {
    display: flex;
    background-color: #A9A9A9;
    color:#fff;
  } 

  .Interior {
  	flex:1;
    border: 1px solid;
  }

   .Exterior {
  	flex:1;
    border: 1px solid;
  }
  
   .Engine {
  	flex:1;
    border: 1px solid;
  }