.Suvs {
    color: #00008B;
    margin-top: 2%;
  }

  .suvs-int {
    border: 1px solid #000000;
    text-align: center;
    margin-bottom: 2%;
  }

  .suvs-ext {
    border: 1px solid #000000;
    text-align: center;
    margin-bottom: 2%;
  }

  .suvs-full {
    border: 1px solid #000000;
    text-align: center;
    margin-bottom: 2%;
  }

  .suvs-eng {
    border: 1px solid #000000;
    text-align: center;
    margin-bottom: 2%;
  }